extends layout

  
block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="/javascript/indexClient.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js")
    h1= title
  
    style.
       table,th,tr,td {
           border: 1px solid black; list-style-type: none; vertical-align: top;
       }
    #JobsNPipelines
    table#tb01
        
    
                